logs
*.iml
target
.idea
.idea_modules
.idea/.name
.idea/libraries/
.idea/modules/
.idea/modules.xml
.idea/scala_compiler.xml
.idea/tasks.xml
.idea/workspace.xml
.idea_modules/
.vscode

.g8/

RUNNING_PID
generated.keystore
generated.truststore
*.log
.sdkmanrc

project/target/
target/

# Build Server Protocol
.bsp/

.bloop
.metals
metals.sbt